p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
  margin-left: 10px;
}
.flex-1{
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 50px;
}
.box1-flex{
  background-color: lightpink;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box2-flex{
  background-color: lightblue;
  width:200px;
  display: flex;
  flex-direction: column;
  display: inline-block

}
.nflex{
  background-color: black;
  color: white;
}
.row2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}
.all-text{
  color: rgb(99, 92, 92);
  margin-bottom: 20px;
}
.profile-pic{
  height: 60px;
  width: 60px;
  border-radius: 30px;
  object-fit: cover;
  margin-left: 10px;
  display: inline-block;
  margin-right: 5px;
}
.chewy-text{
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2px;
}
.timing{
  color: rgb(99, 92, 92);
  font-size: 14px;
  display: inline-block;
}
.sales-text{
  font-weight: bold;
  margin-bottom: 2px;
}
.hey-text{
  color: rgb(99, 92, 92);
  margin-bottom: 2px;
  
}
.inbox-div{
  border-color: gray;
  border-style: solid;
  width: 400px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex-flex{
  display: flex;
  align-items: center;
}
.inbox2-div{
  border-color: gray;
  border-style: solid;
  width: 400px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
}
.b1-div{
  margin-bottom: 20px;
  margin-top: 10px;
}
.super-text{
  font-size: 16px;
}
.blank-box{
  height: 90px;
  width: 90px;
  background-color: rgb(208, 201, 201);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.f1-div{
  display: flex;
  flex-direction: row;
  width: 430px;
  line-height: 24px;
  margin-bottom: 100px;
  border-style:solid;
  border-width: 1px;
  border-color: gray;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.f2-div{
  display: flex;
  flex-direction: row;
  align-items: center;
padding-right: 10px;
  border-style:solid;
  border-radius: 15px;
  border-color: grey;
  border-width: 1px;
  
}
