.images{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: cover;
  margin-bottom: 10px;
  display: flex;

}
.info-text{
  color: white;
  font-weight: bold;
  font-family: Arial;  
}
.plus-sign{
  color: rgb(150, 150, 150);
  font-size: 16px;
}
.text{
  color: rgb(214, 214, 214);
  font-family: Arial;
  margin-bottom: 10px;
}
.left-sidebar{
  background-color: rgb(46, 45, 45);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
   position: fixed;
   left: 0;
   top:0px;
   bottom: 0px;
 
}
.main-div{
  display: flex;
  flex-direction: row;
 position: fixed;
 left: 0px;
 top: 0;
 bottom: 0px;
}
.header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.right-sidebar{
  background-color: rgb(72,72,72);
  position: fixed;
  left:70px;
  top:0px;
  bottom: 0px;
  width: 150px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
